html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root, .App {
  height: 100%;
}

.year {
}

.month {
  margin-left: 50px;
}

.month-memories {
}

.month > .title {
  text-align: center;
}

.list {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-evenly;*/
  /*align-items: center;*/
  /*align-content: center;*/
}

.memory {
  /*max-width: 1000px;*/
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}
